.navbar {
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .navbar__mid {
    display: flex;
    gap: 1rem;
    * {
      width: 75px;
    }
  }
  .navbar__right {
    display: flex;
    gap: 1rem;
  }
}
