.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #08fdd8;
  color: #08fdd8;
  background-color: black;
  border-radius: 6px;
  width: 100%;
  cursor: pointer;
  * {
    padding: 1rem;
  }
}
.button:hover {
  background-color: #08fdd8;
  color: black;
  transition: all 0.5s 0.3s;
}

.primary {
  background-color: greenyellow;
  color: white;
}
