.input {
  margin: 0.5rem 0;
  padding: 1rem 1rem;
  width: 100%;
  background-color: rgb(47, 46, 46);
  color: rgb(198, 191, 191);
  font-size: 1rem;
  border: none;
}
.input:focus {
  color: #08fdd8;
  outline: none;
  border-bottom: 1px solid #08fdd8;
  transition: all 3s 0.3s ease-out;
}

@media (min-width: 900px) {
  .input {
    margin: 0.4rem 0;
    padding: 0.8rem 0.8rem;
    font-size: 0.8rem;
  }
}
