//variables
@import './_variables.scss';

//mixin
@import 'mixin.scss';
//page
@import 'home.scss';
//components
@import 'components/timer.scss';
@import 'components/settings.scss';
//UI
@import 'components/UI/button.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: $third-color;
  color: white;
}
